<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>Add user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript">
        function add_user() {
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/user", true);
            xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            const body = {
                "name": document.getElementById("name").value,
                "beakSize": document.getElementById("beak_size").value,
                "role": document.getElementById("role").value
            };
            xhr.onreadystatechange = () => {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        alert("User with id " + JSON.parse(xhr.response).user.id + " successfully created");
                        document.getElementById("add_user_from").reset();
                    } else {
                        alert("Error, got status " + xhr.status);
                    }
                }
            };
            xhr.send(JSON.stringify(body));
        }
    </script>
</head>
<body>
<h1>Создать нового пользователя</h1>
<form id="add_user_from">
    <label for="name">Имя:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="beak_size">Размер клюва</label><br>
    <input type="text" id="beak_size" name="beak_size"><br>
    <label for="role">Роль</label><br>
    <select name="role" id="role">
        <option value="EMPLOYEE">Сотрудник</option>
        <option value="MANAGER">Менеджер</option>
        <option value="ACCOUNTANT">Бухгалтер</option>
        <option value="ADMINISTRATOR">Администратор</option>
    </select><br>
    <input value="Создать пользователя" type="button" onclick="add_user()"><br>
</form>
</body>
</html>